--
-- PostgreSQL database dump
--

\restrict EJdbeyXFca6hCqIWVxGLmnCaMwvo1ZthgrZWqbcb3a9ICQlxQimzdQLq2lh18J8

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ai_context_caches; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ai_context_caches (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    cache_name character varying(255) NOT NULL,
    provider character varying(50) NOT NULL,
    external_cache_id text NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.ai_context_caches OWNER TO postgres;

--
-- Name: ai_model_configs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ai_model_configs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    provider character varying(50) NOT NULL,
    model_name character varying(100) NOT NULL,
    display_name character varying(150) NOT NULL,
    model_type character varying(20) NOT NULL,
    endpoint_url text,
    api_key_env_var character varying(100),
    supports_audio boolean DEFAULT false,
    supports_caching boolean DEFAULT false,
    priority integer DEFAULT 1,
    is_active boolean DEFAULT true,
    temperature numeric(2,1) DEFAULT 0.2,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.ai_model_configs OWNER TO postgres;

--
-- Name: assessments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assessments (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    question_id uuid,
    skill character varying(20) NOT NULL,
    part_type character varying(50) NOT NULL,
    task_prompt text NOT NULL,
    image_url text,
    user_input_text text,
    audio_path text,
    overall_band numeric(2,1),
    sub_scores jsonb,
    feedback jsonb,
    model_used character varying(100),
    status character varying(50) DEFAULT 'completed'::character varying,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.assessments OWNER TO postgres;

--
-- Name: questions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.questions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    skill character varying(20) NOT NULL,
    part character varying(20) NOT NULL,
    content text NOT NULL,
    image_url text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.questions OWNER TO postgres;

--
-- Data for Name: ai_context_caches; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ai_context_caches (id, cache_name, provider, external_cache_id, expires_at, created_at) FROM stdin;
\.


--
-- Data for Name: ai_model_configs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: assessments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: questions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.questions (id, skill, part, content, image_url, created_at) FROM stdin;
\.


--
-- Name: ai_context_caches ai_context_caches_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_context_caches
    ADD CONSTRAINT ai_context_caches_pkey PRIMARY KEY (id);


--
-- Name: ai_model_configs ai_model_configs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_model_configs
    ADD CONSTRAINT ai_model_configs_pkey PRIMARY KEY (id);


--
-- Name: assessments assessments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessments
    ADD CONSTRAINT assessments_pkey PRIMARY KEY (id);


--
-- Name: questions questions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_pkey PRIMARY KEY (id);


--
-- Name: assessments assessments_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessments
    ADD CONSTRAINT assessments_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.questions(id);


--
-- PostgreSQL database dump complete
--

\unrestrict EJdbeyXFca6hCqIWVxGLmnCaMwvo1ZthgrZWqbcb3a9ICQlxQimzdQLq2lh18J8

